.header {
  background-color: rgb(111, 168, 164);
  color: white;
  padding: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navItem {
  margin: 0;
}

.navLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.navLink:hover {
  text-decoration: underline;
}
